node_modules/
dist/
build/
.next/
.cache/
.turbo/
.pnpm-store/

.env
.env.local
.env.*.local

*.log
npm-debug.log*
pnpm-debug.log*

.DS_Store
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

coverage/
*.tsbuildinfo

apps/api/prisma/migrations/dev.db*

# Playwright
apps/web/playwright-report/
apps/web/test-results/
apps/web/blob-report/
apps/web/.playwright/
